<div class="modal-body">
    <form class="form-horizontal">
        <fieldset>
            <legend> Adjust Scale Group Size</legend>
            <div class="form-group">
                <label for="input" class="col-lg-2 control-label"> Min Scale Group Size</label>
                <input type="number" class="form-control" ng-model="adjust.min_size" required>
            </div>
            <div class="form-group">
                <label for="input" class="col-lg-2 control-label"> Desired Scale Group Size</label>
                <input type="number" class="form-control" ng-model="adjust.desired" required>
            </div>
            <div class="form-group">
                <label for="input" class="col-lg-2 control-label"> Max Scale Group Size</label>
                <input type="number" class="form-control" ng-model="adjust.max_size" required>
            </div>
            <alerts></alerts>
            <div class="form-group">
                <div class="btn-toolbar pull-right">
                    <button ng-click="cancel()" type="reset" class="btn btn-default">Cancel</button>
                    <button ng-click="adjustSize()" type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>